*~
*.log
*__pycache**
*.fit
*.fits
*.fits-save
*.py[cod]
*.json
*.ini
*.axy
*.apm
*.corr
*.new
*.match
*.rdls
*.solved
*.wcs
*.xyls
_templates
_static
_build
PlateSolve2.exe
.eggs
.spyproject
build
docs/build
pyastrometry.egg-info
